<!-- begin content -->
<div class="content">
    <header class="content__header">
        <div class="content__img">
            <img src="https://lh3.googleusercontent.com/Ch33YRySQF_QH6SBufpjGFJnotaNPZneOL0LKDoBo5UxmwyC_jjeF9I6UCP4E_k1Epw=s180-rw" alt="Magic Cleaner">
        </div>
        <div class="content__description">
            <p>Boost your mobile by 50% with just 1-tap!</p>
        </div>
    </header>
    <div class="content__body">
        <p>Magic Cleaner is a utulity to speed up your phone and optimize perfomance. This speed booster make full use of the accessibility service to thoroughly and durably stop the unnecessay process of running apps in background</p>
        <ul>
            <li>Clean up the memory and make phone faster</li>
            <li>Speed up memory in seconds</li>
            <li>Besides stopping the running app</li>
            <li>Junk File Cleaner</li>
            <li>There is also the ignore list for you to add apps you want to keep running</li>
        </ul>
    </div>
    <footer class="content__footer">
        <ol>
            <li>Tap "Download" button and install Magic Cleaner right now!</li>
            <li>Open application and enjoy</li>
        </ol>
        <a href="" class="button" target="_blank">Download</a>
    </footer>
</div>
<!-- end content -->